[Desktop Entry]
Name[de_DE]=breeze_darkish
Name=breeze_darkish

[KGameTheme]
Author=Benjamin Reineke
AuthorEmail=
FileName=breeze_darkish.svgz
Name[de_DE]=Breeze Dark-ish
Name=Breeze dark-ish
Preview=breeze_darkish.png
Type=SVG
