[Desktop Entry]
Name[de_DE]=breeze_lightish
Name=breeze_lightish

[KGameTheme]
Author=Benjamin Reineke
AuthorEmail=
FileName=breeze_lightish.svgz
Name[de_DE]=Breeze Light-ish
Name=Breeze light-ish
Preview=breeze_lightish.png
Type=SVG
